/* MainWindow Style */

QScrollBar
{
background: rgb(51,102,153);
}

#MainWindowContainer
{
background: qradialgradient(radius: 1.5, stop:0 rgb(197,239,247), stop:1 rgb(82,179,217));
border: none;
}

#MainWindowScrollArea
{
background: transparent;
border: none;
}

#MainWindowTitle
{
padding: 10px;
background: rgb(51,102,153);
font: bold 40px;
border-radius: 3px;
color: rgb(255,240,235);
}

#MainWindowAboutText
{
padding: 10px;
background: rgb(255,240,235);
font: bold 15px;
border-radius: 3px;
color: rgb(46, 48, 51);
}

#MainWindowBackButton
{
padding: 10px;
background: rgb(51,102,153);
border: 2px solid transparent;
border-radius: 3px;
font-size: 35px;
color: rgb(255,240,235);
}

#MainWindowBackButton:hover
{
background: rgb(55,105,150);
border: 1px solid rgb(255,240,235);
}

#MainWindowBackButton:pressed
{
border: 2px solid rgb(255,240,235);
}

QGroupBox
{
border: none;
}

/* Notifications Style */

#Notification
{
background: rgb(255,240,235);
border: 3px solid rgb(46, 48, 51);
border-radius: 5px;
}

#NotificationTitle
{
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}

QTextEdit
{
border: none;
background: transparent;
}

#NotificationText
{
background: transparent;
color: rgb(51,102,153);
font-size: 15px;
}

#NotificationButtonsContainer
{
background: rgb(51,102,153);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}

#NotificationButton
{
background: rgb(46, 48, 51);
border: 2px solid transparent;
border-radius: 3px;
font-size: 15px;
color: rgb(255,240,235);
padding: 2px;
}

#NotificationButton:hover
{
background: rgb(22, 25, 27);
border: 1px solid rgb(255,240,235);
}

#NotificationButton:pressed
{
border: 2px solid rgb(255,240,235);
}


/* OptionsWidget Style */

#MainWindowOptionsContainer
{
border-radius: 3px;
background: rgb(51,102,153);
}

#OptionWidget
{
background: rgb(255,240,235);
border-radius: 3px;
}

#OptionWidgetText
{
background: transparent;
font: 25px solid;
color: rgb(51,102,153);
}

/* Bar Style */

#BarLeftWidget
{
border: none;
background: rgb(51,102,153);
border-bottom-left-radius: 40px;
color: rgb(255,240,235);
font: bold 15px;
border-left: 2px solid rgb(46, 48, 51);
border-bottom: 2px solid rgb(46, 48, 51);
}

#BarMiddleWidget
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
border-left: 2px solid rgb(46, 48, 51);
border-bottom: 2px solid rgb(46, 48, 51);
}

#BarRightWidget
{
border: none;
background: rgb(51,102,153);
border-bottom-right-radius: 40px;
color: rgb(255,240,235);
font: bold 15px;
border-left: 2px solid  rgb(46, 48, 51);
border-right: 2px solid rgb(46, 48, 51);
border-bottom: 2px solid rgb(46, 48, 51);
}

#BarLeftWidget:hover,
#BarMiddleWidget:hover,
#BarRightWidget:hover
{
background: rgb(255,240,235);
color: rgb(51,102,153);
}

#BarLeftWidget:pressed,
#BarMiddleWidget:pressed,
#BarRightWidget:pressed
{
font-size: 20px;
}

#BarTimeCounter
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 25px;
border-left: 2px solid rgb(46, 48, 51);
border-bottom: 2px solid rgb(46, 48, 51);
}

#BarTimeCounter:hover
{
background: rgb(255,240,235);
color: rgb(51,102,153);
}

#BarTimeCounter:pressed
{
font-size: 28px;
}

#MenuToolButton
{
background: rgb(51,102,153);
color: rgb(255,240,235);
width: 100%
}

#MenuToolButton::item:selected
{
background: rgb(255,240,235);
color: rgb(51,102,153);
}

/* BoardTemplate Style */

BoardTemplate
{
background: rgb(255,240,235);
border-radius: 3px;
}

#BoardTemplateHeader
{
background: rgb(51,102,153);
padding: 10px;
color: rgb(255,240,235);
font-size: 40px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

#BoardTemplateFooter
{
background: rgb(51,102,153);
padding: 10px;
color: rgb(255,240,235);
font-size: 40px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

/* ListOfYearsBoard Style */

#ListOfYearsBoardYearCard
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
padding: 15 10;
}

#ListOfYearsBoardYearCardTopLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
padding: 15 10;
border-top-left-radius: 3px;
}

#ListOfYearsBoardYearCardTopRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
padding: 15 10;
border-top-right-radius: 3px;
}

#ListOfYearsBoardYearCardBottomLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
padding: 15 10;
border-bottom-left-radius: 3px;
}

#ListOfYearsBoardYearCardBottomRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 15px;
padding: 15 10;
border-bottom-right-radius: 3px;
}

#ListOfYearsBoardYearCard:hover,
#ListOfYearsBoardYearCardTopLeftCorner:hover,
#ListOfYearsBoardYearCardTopRightCorner:hover,
#ListOfYearsBoardYearCardBottomLeftCorner:hover,
#ListOfYearsBoardYearCardBottomRightCorner:hover
{
background: rgb(255,240,235);
color: rgb(51,102,153);
}

#ListOfYearsBoardYearCard:pressed,
#ListOfYearsBoardYearCardTopLeftCorner:pressed,
#ListOfYearsBoardYearCardTopRightCorner:pressed,
#ListOfYearsBoardYearCardBottomLeftCorner:pressed,
#ListOfYearsBoardYearCardBottomRightCorner:pressed
{
font: bold 20px;
}

/* YearBoard Style*/

#YearBoardMonthCard
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 30px;
padding: 15 10;
}

#YearBoardMonthCardTopLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 30px;
padding: 15 10;
border-top-left-radius: 3px;
}

#YearBoardMonthCardTopRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 30px;
padding: 15 10;
border-top-right-radius: 3px;
}

#YearBoardMonthCardBottomLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 30px;
padding: 15 10;
border-bottom-left-radius: 3px;
}

#YearBoardMonthCardBottomRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 30px;
padding: 15 10;
border-bottom-right-radius: 3px;
}

#YearBoardMonthCard:hover,
#YearBoardMonthCardTopLeftCorner:hover,
#YearBoardMonthCardTopRightCorner:hover,
#YearBoardMonthCardBottomLeftCorner:hover,
#YearBoardMonthCardBottomRightCorner:hover
{
background: rgb(255,240,235);
color: rgb(51,102,153);
}

#YearBoardMonthCard:pressed,
#YearBoardMonthCardTopLeftCorner:pressed,
#YearBoardMonthCardTopRightCorner:pressed,
#YearBoardMonthCardBottomLeftCorner:pressed,
#YearBoardMonthCardBottomRightCorner:pressed
{
font: bold 35px;
}

/* MonthBoard Style */

#MonthBoardDayNameLabel
{
color: rgb(51,102,153);
font: bold 11px;
}

#MonthBoardDayCard
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 35px;
}

#MonthBoardDayCardTopLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 35px;
border-top-left-radius: 3px;
}

#MonthBoardDayCardTopRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 35px;
border-top-right-radius: 3px;
}

#MonthBoardDayCardBottomLeftCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 35px;
border-bottom-left-radius: 3px;
}

#MonthBoardDayCardBottomRightCorner
{
border: none;
background: rgb(51,102,153);
color: rgb(255,240,235);
font: bold 35px;
border-bottom-right-radius: 3px;
}

#MonthBoardDayCard:hover,
#MonthBoardDayCardTopLeftCorner:hover,
#MonthBoardDayCardTopRightCorner:hover,
#MonthBoardDayCardBottomLeftCorner:hover,
#MonthBoardDayCardBottomRightCorner:hover
{
background: rgb(255,240,235);
color: rgb(51,102,153);
font: bold 40px;
}

#MonthBoardDayCard:pressed,
#MonthBoardDayCardTopLeftCorner:pressed,
#MonthBoardDayCardTopRightCorner:pressed,
#MonthBoardDayCardBottomLeftCorner:pressed,
#MonthBoardDayCardBottomRightCorner:pressed
{
font: bold 50px;
}

/* DayBoard Style */

#DayBoardDateLabel
{
background: rgb(51,102,153);
border-right: 2px dotted rgb(255,240,235);
padding: 10px;
color: rgb(255,240,235);
font-size: 35px;
border-top-left-radius: 3px;
}

#DayBoardProgressLabel
{
background: rgb(51,102,153);
border-left: 2px dotted rgb(255,240,235);
padding: 10px;
color: rgb(255,240,235);
font-size: 35px;
border-top-right-radius: 3px;
}

#DayBoardActivitiesTitleLabel
{
color: rgb(51,102,153);
font-size: 35px;
}

#DayBoardButtonsBarContainer,
#DateSelectingWidget
{
background: rgb(51,102,153);
padding: 10px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

#DayBoardButton,
#DateSelectingButton
{
background: rgb(46, 48, 51);
border: 2px solid transparent;
border-radius: 3px;
font-size: 15px;
color: rgb(255,240,235);
padding: 10px;
}

#DayBoardButton:hover,
#DateSelectingButton:hover
{
background: rgb(22, 25, 27);
border: 1px solid rgb(255,240,235);
}

#DayBoardButton:pressed,
#DateSelectingButton:pressed
{
border: 2px solid rgb(255,240,235);
}

#DayBoardAlarmsButton
{
width: 40px;
height: 40px;
padding: 0px;
}

#DayBoardAlarmsButton::indicator
{
width: 40px;
height: 40px;
}

#DayBoardAlarmsButton::indicator::unchecked
{
image: url(:/icons/icons/alarmsInactive.jpg);
}

#DayBoardAlarmsButton::indicator::checked
{
image: url(:/icons/icons/alarmsActive.jpg);
}

#DayBoardScroll
{
background: transparent;
border: none;
}

#DayBoardScrollArea
{
background: transparent;
border: none;
}

#DateSelectingDateEdit
{
background: rgb(46, 48, 51);
font-size: 29px;
color: rgb(255,240,235);
}

/* Activity Style */

Activity
{
background: rgb(51,102,153);
border-radius: 3px;
}

#ActivityFromTimeLabel
{
background: rgb(255,240,235);
font-size: 20px;
border-top-left-radius: 3px;
padding-left: 2px;
border-bottom-left-radius: 3px;
margin: 0px;
}

#ActivityFromTimeEdit
{
background: rgb(255,240,235);
font-size: 20px;
border-radius: 0px;
}

#ActivityToTimeLabel
{
background: rgb(255,240,235);
font-size: 20px;
border-radius: 0px;
}

#ActivityToTimeEdit
{
background: rgb(255,240,235);
font-size: 20px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

#ActivityReadyButton
{
border-radius: 3px;
background-image:url(:/icons/icons/ready.jpg);
}

#ActivityReadyButton:hover
{
background-image:url(:/icons/icons/readyHover.jpg);
}

#ActivityReadyButton:pressed
{
background-image:url(:/icons/icons/readyPressed.jpg);
}

#ActivityDeleteButton
{
border-radius: 3px;
background-image:url(:/icons/icons/delete.jpg);
}

#ActivityDeleteButton:hover
{
background-image:url(:/icons/icons/deleteHover.jpg);
}

#ActivityDeleteButton:pressed
{
background-image:url(:/icons/icons/deletePressed.jpg);
}

#ActivityDescriptionLabel
{
background: rgb(255,240,235);
font-size:20px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
padding-left: 5px;
}

#ActivityDescriptionLineEdit
{
background: rgb(255,240,235);
font-size:20px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

#ActivityButton
{
background: rgb(46, 48, 51);
border: 2px solid transparent;
border-radius: 3px;
font-size: 20px;
color: rgb(255,240,235);
}

#ActivityButton:hover
{
background: rgb(22, 25, 27);
border: 1px solid rgb(255,240,235);
}

#ActivityButton:pressed
{
border: 2px solid rgb(255,240,235);
}
